.homepage-container {
  width: 386px;
  background: linear-gradient(
      0deg,
      rgba(17, 17, 17, 0.3) 0%,
      rgba(17, 17, 17, 0.3) 100%
    ),
    url("/images/homepage/background_sellMyCar.png") lightgray -26.898px -22.001px /
      165.483% 113.265% no-repeat;
  padding: 20px 24px;
  gap: 28px;

  .homepage-container--title {
    color: var(--base-fg-color-base-fg-0, #fff);

    /* KR/Title/title-sm */
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.4px;
  }

  .homepage-container--text {
    color: var(--base-fg-color-base-fg-0, #fff);

    /* KR/Body/body-sm */
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.35px;
  }

  .homepage-container--input__content {
    height: 32px;
    text-align: center;
    color: var(--button-tertiary-fg-enabled, #666670);
    font-size: 13px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 18px;
  }
}

.homepage-container--sell-button {
  width: 78px;
  height: 32px;
  padding: 0 16px;
  background: white;
  border-radius: 2px;
  outline: 1px solid var(--button-secondary-stroke-enabled, #4f4c6b);
  backdrop-filter: blur(50px);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  .sell-button__span {
    text-align: center;
    color: var(--button-secondary-fg-enabled, #4f4c6b);
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    word-wrap: break-word;
  }
}
