.button__search__title {
  color: var(--button-tertiary-fg-enabled, #666670);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.35px;
}
