.div__container {
    position: absolute;
    top: 60px;
    right: 115px;
    width: 224px;
    z-index: 100;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #fff;
}

.createdAt {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.025em;
    margin-bottom: 8px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 12px;
}

.car__container{
    cursor: pointer;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 16px;
}

.car__name {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: var(--base-fg-color-base-fg-60, #424b59);
}

.price__percent {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.025em;
    color: var(--status-error-color-status-error-fg-50, #EF4444);
}

.base__price {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.025em;
    color: var(--base-fg-color-base-fg-50, #666670);
    text-decoration-line: line-through;
}

.price__discount {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.025em;
    color: var(--base-fg-color-base-fg-70, #37373E);
}

