.header{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header__top{
    position: absolute;
    right: 0;
    top: 8px;
    display: flex;
    gap: 16px;
}

.header__bottom{
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.header__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.header__nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.header__nav__item,
.header__top__login,
.header__top__register,
.header__top__logout,
.header__top__mypage {
    color: var(--base-fg-color-base-fg-50, #666670);
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
    cursor: pointer;
}

.header__nav__item:hover,
.header__top__login:hover,
.header__top__register:hover {
    color: var(--base-fg-color-base-fg-50, #0a0a13);
}



