.select--budget__min,
.select--budget__max {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: var(--input-field-bg-enabled, white);
  border-radius: 6px;
  outline: 1px solid var(--input-field-stroke-enabled, #ceced3);
  outline-offset: -1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  color: var(--fg-placeholder, #94949f);
}

.button--budget {
  width: 154px;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background: var(--button-primary-bg-enabled, #3533cc) !important;
  border-radius: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  .button--budget__text {
    color: var(--button-primary-fg, white);
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    word-wrap: break-word;
  }
}

.button--budget__filter {
    width: 100%;
    height: 100%;
    padding-left: 12px;
    padding-right: 12px;
    background: var(--base-bg-color-base-bg-5, #F9F9F9) !important;
    border-radius: 9999px; /* bo tròn tối đa, tạo hình pill */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    .button--budget__badge {
        color: var(--button-tertiary-fg-enabled, #666670);
        font-size: 13px ;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 400;
        word-wrap: break-word;
        white-space: nowrap; //can chỉnh không xuống hàng
        cursor: pointer;
      }
      
  }
  
