.button {
  width: 181px;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background: var(--button-primary-bg-enabled, #2f2c4d);
  border-bottom-right-radius: 2px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  display: inline-flex;

  &:hover {
    background: var(--button-primary-bg-hover, #2f2c4d) !important;
  }

  .button__text {
    color: var(--button-primary-fg, white) !important;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
  }
}
