.previewWrapper {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.7s ease;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

}

.previewText {
  color: #fff;
  font-size: 16px;
  padding: 6px 12px;
  background: transparent;
}
