.interested__vehicles__name{
    color: var(--base-fg-color-base-fg-70, #37373E);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.4px;
}

.interested__vehicles__price{
    color: var(--base-fg-color-base-fg-70, #37373E);
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.45px;
}